canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.ui {
  /*height: 100%;*/
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 1;
  /*color: white;*/
}

#background {
  pointer-events: none;
}

#info {
  font-family: sans-serif;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 3;
  color: white;
  font-weight: normal;
}

.burger-icon {
  z-index: 10 !important;
  font-size: 36px !important;
}

.exit-menu-icon {
  position: absolute;
  top: 15px;
  left: 20px;
}

.sidenav-overlay {
  z-index: 0 !important;
}

.slide-out .sidenav {
  max-height: 500px;
}

.sidenav {
  background-color: rgba(102, 217, 239, 0.17) !important;
}

.sidenav-overlay {
  width: 0px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  user-select: none;
}

.sidenav-content .links {
  margin-top: 50px;
  font-size: 1em;
  user-select: none;
}

.sidenav-content .links a {
  margin-top: 10px;
  display: block;
  line-height: 2em;
  width: min-content;
}

.sidenav-content {
  /*display: flex;*/
  /*justify-content: space-between;*/
}
.sidenav-content .sidenav-slider{
  display: flex;
  justify-content: space-evenly;
}

.sidenav-slider label {
  color: white;
  font-size: 1em;
  margin-top: 2px !important;
}

.range-field {
  margin: 5px auto 0 auto;
}

.range-field .thumb .value {
  margin: -9px 0 0 0 !important;
  font-size: 1em !important;
}

.range-value {
  position: absolute;
  margin-top: -10px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 20px;
  user-select: none;
  z-index: -1;
  /*max-width: 20px;*/
}

input[type="range"] {
  border: none !important;
  max-width: 120px;
}
