<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/menu.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/materialize.css"
    />
    <script src="../static/vue.js"></script>

    <title>n-body problem</title>
  </head>
  <body>
    <div class="ui" id="app">
      <ul id="slide-out" class="sidenav">
        <a
          v-if="settings"
          class="sidenav-close"
          href="#"
          data-target="slide-out"
          @click="settings = false"
        >
          <i class="material-icons medium exit-menu-icon">navigate_before</i>
        </a>

        <div class="container">
          <li class="sidenav-content">
            <div class="sliders">
              <div class="sidenav-slider">
                <label>Speed</label>
                <div class="range-field">
                  <input
                    v-model="timeMultiplicator"
                    type="range"
                    min="0"
                    max="4"
                    step="1"
                  />
                </div>
                <span class="range-value">{{timeMultiplicatorLabel}}</span>
              </div>
              <div class="sidenav-slider">
                <label>Trail</label>
                <div class="range-field">
                  <input type="range" min="0" max="3" step="1" />
                </div>
                <span class="range-value">{{trail}}</span>
              </div>
              <div class="sidenav-slider">
                <label>Verge</label>
                <div class="range-field">
                  <input type="range" min="0" max="100" />
                </div>
              </div>
              <div class="sidenav-slider">
                <label>Verge</label>
                <div class="range-field">
                  <input type="range" min="0" max="100" />
                </div>
              </div>
            </div>

            <div class="links">
              <a href="#">Poule</a>
              <a href="#">About</a>
            </div>
          </li>
        </div>
      </ul>

      <a
        v-if="!settings"
        href="#"
        data-target="slide-out"
        class="sidenav-trigger"
        @click="settings = true"
      >
        <i class="material-icons burger-icon">menu</i>
      </a>
    </div>

    <div id="info">
      <p id="fps"></p>
      <p id="initial-mass"></p>
      <p id="body-count"></p>
      <p id="time-step"></p>
      <p id="trail-opacity"></p>
    </div>

    <canvas id="canvas"></canvas>
    <canvas id="background"></canvas>

    <script src="../static/canvas-arrow.js"></script>
    <script src="utils/utils.js"></script>
    <script src="utils/colors.js"></script>
    <script src="core/Body.js"></script>

    <script src="core/conf.js"></script>
    <script src="core/inputs.js"></script>
    <script src="core/canvas.js"></script>
    <script src="core/tools.js"></script>
    <script src="core/Sim.js"></script>

    <script src="../static/materialize.min.js"></script>

    <script src="vueapp.js"></script>
  </body>
</html>
